/* general document */
* {
 box-sizing: border-box;
}

body {
 background-color: #FFFFFF;
 color: #FFFFFF;
 margin: 0;
 padding: 0;
 clear: both;
 text-align: left;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrapper {
 background-color: #FFFFFF;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 position: relative;
}

/* header and navigation */
header.primary {
 background-color: #FFB3FF;
 color: #000000;
 box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
 width: 100%;
 height: 70px;
 margin: 0 auto;
 padding: 10px 30px;
 position: fixed;
 top: 0;
 left: 0;
 text-align: left;
 line-height: 50%;
 vertical-align: middle;
 z-index: 100;
 -webkit-user-select: none;
 -ms-user-select: none;
 -moz-user-select: none;
 -o-user-select: none;
 user-select: none;
 -webkit-transition: background-color 1s, color 1.5s;
 -ms-transition: background-color 1s, color 1.5s;
 -moz-transition: background-color 1s, color 1.5s;
 -o-transition: background-color 1s, color 1.5s;
 transition: background-color 1s, color 1.5s;
}

header.primary h2 {
 margin-left: 30px;
 float: left;
 display: inline-block;
 cursor: pointer;
 font-weight: normal;
}

header.primary h2.headingRight {
 display: none;
}

header.primary nav {
 margin-top: -10px;
 float: right;
}

.menuIcon {
 display: none;
}

#navigationButtons {
 list-style: none;
 overflow: hidden;
 -webkit-transition: 0.7s;
 -ms-transition: 0.7s;
 -moz-transition: 0.7s;
 -o-transition: 0.7s;
 transition: 0.7s;
}

#navigationButtons li {
 display: inline;
}

#navigationButtons li a {
 color: #000000;
 opacity: 0.7;
 margin-left: 10px;
 padding: 15px;
 display: inline-block;
 text-align: left;
 font-size: 30px;
 cursor: pointer;
 -webkit-transition: color 0.3s ease-in-out 0s, opacity 1s;
 -ms-transition: color 0.3s ease-in-out 0s, opacity 1s;
 -moz-transition: color 0.3s ease-in-out 0s, opacity 1s;
 -o-transition: color 0.3s ease-in-out 0s, opacity 1s;
 transition: color 0.3s ease-in-out 0s, opacity 1s;
}

a {
 color: inherit;
 text-decoration: none;
 cursor: pointer;
}

header.primary nav:hover #navigationButtons {
 /*left: 0%;*/
}

#navigationButtons.links a:before {
 background-color: #000000;
}

#navigationButtons li a:hover, #navigationButtons li a.active {
 opacity: 1;
}

/* document content */
main.primary {
 width: 100%;
 margin: 0 auto;
 text-align: center;
}

.ghostButton {
 background-color: none;
 color: #F50057;
 border: 3px solid #F50057;
 margin: 10px;
 padding: 20px 40px;
 display: inline-block;
 font-size: 25px;
 text-align: center;
 cursor: pointer;
 -webkit-transition: background-color 1s, color 1s, opacity 1s;
 -ms-transition: background-color 1s, color 1s, opacity 1s;
 -moz-transition: background-color 1s, color 1s, opacity 1s;
 -o-transition: background-color 1s, color 1s, opacity 1s;
 transition: background-color 1s, color 1s, opacity 1s;
}

.ghostButton:hover, .ghostButton.active {
 background-color: #F50057;
 color: #FFFFFF;
}

.pageContentWrapper {
 width: 100%;
 min-height: 700px;
 margin: auto;
 padding: 100px 10px 10px 10px;
}

.pageContentWrapper section.main {
 color: #000000;
 width: 90%;
 margin: auto;
}

.pageContentWrapper article {
 display: block;
 padding: 20px 0px;
 text-align: center;
}

.pageContentWrapper article div.content {
 text-align: left;
}

.pageContentWrapper article span.heading {
 display: block;
 font-size: 30px;
 font-weight: bold;
}

.pageContentWrapper article span.subheading {
 display: block;
 font-size: 25px;
 font-weight: bold;
}

.pageContentWrapper article div.content p {
 font-size: 25px;
}

hr {
 width: 100%;
 height: 2px;
 border-width: 0;
}

.pageContentWrapper article hr {
 background-color: #000000;
}

.links a {
 opacity: 1;
 position: relative;
 -webkit-transition: color 0.3s ease-in-out 0s;
 -ms-transition: color 0.3s ease-in-out 0s;
 -moz-transition: color 0.3s ease-in-out 0s;
 -o-transition: color 0.3s ease-in-out 0s;
 transition: color 0.3s ease-in-out 0s;
}

.links a:before {
 visibility: hidden;
 width: 100%;
 height: 2px; 
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 -webkit-transform: scaleX(0);
 -ms-transform: scaleX(0);
 -moz-transform: scaleX(0);
 -o-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: 0.3s ease-in-out 0s;
 -ms-transition: 0.3s ease-in-out 0s;
 -moz-transition: 0.3s ease-in-out 0s;
 -o-transition: 0.3s ease-in-out 0s;
 transition: 0.3s ease-in-out 0s;
}

.links a:hover:before, .links a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

span.links a.icon {
 margin: 5px;
}

/* home page */
#homeContentWrapper {
 background-color: #000000;
 padding: 0px;
 overflow: hidden;
 -webkit-user-select: none;
 -ms-user-select: none;
 -moz-user-select: none;
 -o-user-select: none;
 user-select: none;
 -webkit-transition: background-color 0.8s;
 -ms-transition: background-color 0.8s;
 -moz-transition: background-color 0.8s;
 -o-transition: background-color 0.8s;
 transition: background-color 0.8s;
}

#homeContentWrapper section.main {
 width: 100%;
}

#homeContentWrapper article {
 background: #000000;
 color: #FFFFFF;
 width: 100%;
 height: 100vh;
 padding: 0px;
 text-align: center;
}

#homeContentWrapper article #homeSky {
 background: red;
 background: -webkit-linear-gradient(red, yellow);
 background: -ms-linear-gradient(red, yellow);
 background: -moz-linear-gradient(red, yellow);
 background: -o-linear-gradient(red, yellow);
 background: linear-gradient(red, yellow);
 opacity: 0;
 width: 100%;
 height: 100%;
 -webkit-transition: opacity 7s;
 -ms-transition: opacity 7s;
 -moz-transition: opacity 7s;
 -o-transition: opacity 7s;
 transition: opacity 7s;
}

#homeContentWrapper article img.background {
 background: url("https://s31.postimg.org/8sgtpvwzv/Home_Page_Background_Black.png") center center no-repeat;
 background-size: cover;
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0px;
 left: 0px;
 z-index: 1;
}

#homeContentWrapper article #homeSun {
 background: #FF6600;
 background: -webkit-radial-gradient(#FFFF00, #FF6600);
 background: -ms-radial-gradient(#FFFF00, #FF6600);
 background: -moz-radial-gradient(#FFFF00, #FF6600);
 background: -o-radial-gradient(#FFFF00, #FF6600);
 background: -radial-gradient(#FFFF00, #FF6600);
 border-radius: 100%;
 width: 200px;
 height: 200px;
 position: absolute;
 top: 200px;
 left: 50px;
 z-index: 0;
 -webkit-transition: top 5s, left 5s;
 -ms-transition: top 5s, left 5s;
 -moz-transition: top 5s, left 5s;
 -o-transition: top 5s, left 5s;
 transition: top 5s, left 5s;
}

#homeContentWrapper article .heading {
 opacity: 0;
 position: absolute;
 top: 70vh;
 left: 50%;
 font-size: 60px;
 z-index: 20;
 -webkit-transition: opacity 1s;
 -ms-transition: opacity 1s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
 transition: opacity 1s;
}

#homeContentWrapper article .subheading {
 opacity: 0;
 position: absolute;
 top: 62vh;
 left: 50%;
 font-size: 40px;
 z-index: 20;
 -webkit-transition: opacity 1s;
 -ms-transition: opacity 1s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
 transition: opacity 1s;
}

#homeContentWrapper article .ghostButton {
 opacity: 0;
 visibility: hidden;
 -webkit-transition: 1s;
 -ms-transition: 1s;
 -moz-transition: 1s;
 -o-transition: 1s;
 transition: 1s;
}

/* main page, external links page, about page */
#aboutContentWrapper, #videoContentWrapper, #pictureContentWrapper, #merchContentWrapper, #crewContentWrapper {
 padding: 70px 5%;
}

#aboutContentWrapper section.main, #videoContentWrapper section.main, #pictureContentWrapper section.main, #merchContentWrapper section.main, #crewContentWrapper section.main {
 width: 100%;
 float: left;
}

#aboutContentWrapper article, #videoContentWrapper article, #pictureContentWrapper article, #merchContentWrapper article, #crewContentWrapper article {
 padding: 40px;
}

#aboutContentWrapper article div.content, #videoContentWrapper article div.content, #pictureContentWrapper article div.content, #merchContentWrapper article div.content, #crewContentWrapper article div.content {
 color: rgba(0, 0, 0, 0.8);
 text-align: left;
}

#videoContentWrapper article div.content, #pictureContentWrapper article div.content {
 text-align: center;
}

#aboutContentWrapper article footer, #videoContentWrapper article footer, #pictureContentWrapper article footer, #merchContentWrapper article footer, #crewContentWrapper article footer {
 color: rgba(0, 0, 0, 0.6);
 font-size: 15px;
}

#aboutContentWrapper article footer .links a, #videoContentWrapper article footer .links a, #pictureContentWrapper article footer .links a, #merchContentWrapper article footer .links a, #crewContentWrapper article footer .links a {
 font-size: 15px;
}

#aboutContentWrapper .links a, #videoContentWrapper .links a, #pictureContentWrapper .links a, #merchContentWrapper .links a, #crewContentWrapper .links a {
 color: #000000;
 font-size: 25px;
}

#aboutContentWrapper .links a:before, #videoContentWrapper .links a:before, #pictureContentWrapper .links a:before, #merchContentWrapper .links a:before, #crewContentWrapper .links a:before {
 background-color: #000000;
}

#videoContentWrapper .links a:hover, #projectsContentWrapper .links a:hover, #contactContentWrapper .links a:hover, #aboutContentWrapper .links a:hover {
 color: #000000;
}

#videoContentWrapper .ghostButton {
 width: 200px;
}

#videoContentWrapper iframe {
 margin: 50px;
}

#pictureContentWrapper article div.pictureContainer {
 background-color: #FFFFFF;
 border: 3px solid #F50057;
 width: 300px;
 height: 300px;
 margin: 10px 20px 10px 0px;
 display: inline-block;
 vertical-align: top;
 cursor: pointer;
 -webkit-transition: 0.3s ease-in-out 0s;
 -ms-transition: 0.3s ease-in-out 0s;
 -moz-transition: 0.3s ease-in-out 0s;
 -o-transition: 0.3s ease-in-out 0s;
 transition: 0.3s ease-in-out 0s;
}

#pictureContentWrapper article div.pictureInfo {
 background-color: #F50057;
 color: #FFFFFF;
 opacity: 0;
 width: 100%;
 height: 100%;
 padding: 10px;
 text-align: center;
 -webkit-transition: opacity 0.3s ease-in-out 0s;
 -ms-transition: opacity 0.3s ease-in-out 0s;
 -moz-transition: opacity 0.3s ease-in-out 0s;
 -o-transition: opacity 0.3s ease-in-out 0s;
 transition: opacity 0.3s ease-in-out 0s;
}

#pictureContentWrapper article #poster1Container {
 background: url("https://s31.postimg.org/5oe42t3wn/Picture_Page_Poster_1_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #poster2Container {
 background: url("https://s31.postimg.org/k8v6xmyvb/Picture_Page_Poster_2_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #poster3Container {
 background: url("https://s31.postimg.org/bf4agjbwn/Picture_Page_Poster_3_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #poster4Container {
 background: url("https://s31.postimg.org/r1vjtwpon/Picture_Page_Poster_4_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #poster5Container {
 background: url("https://s31.postimg.org/oyl4m8pvr/Picture_Page_Poster_5_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #poster6Container {
 background: url("https://s31.postimg.org/im5zcemtj/Picture_Page_Poster_6_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #poster7Container {
 background: url("https://s31.postimg.org/jpq3od7gn/Picture_Page_Poster_7_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #photoshoot1Container {
 background: url("https://s31.postimg.org/wjil86r87/Picture_Page_Photoshoot_1_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #photoshoot2Container {
 background: url("https://s31.postimg.org/f7i8mqxqv/Picture_Page_Photoshoot_2_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #photoshoot3Container {
 background: url("https://s31.postimg.org/6dvxje05z/Picture_Page_Photoshoot_3_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #photoshoot4Container {
 background: url("https://s31.postimg.org/uvo17a2qf/Picture_Page_Photoshoot_4_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

#pictureContentWrapper article #photoshoot5Container {
 background: url("https://s31.postimg.org/uk6kuimaf/Picture_Page_Photoshoot_5_Thumbnail.jpg") center center no-repeat;
 background-size: 300px 300px;
}

/* footer */
footer.primary {
 box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.26);
 background-color: #FF80FF;
 color: rgba(0, 0, 0, 0.9);
 width: 100%;
 padding: 10px;
 float: left;
 clear: both;
 text-align: center;
}

footer.primary span.heading {
 font-size: 25px;
 display: block;
 margin-bottom: 5px;
}

footer.primary span.links {
 display: inline-block;
 position: relative;
 margin: 5px;
}

footer.primary span.links a {
 color: rgba(0, 0, 0, 0.7);
}

footer.primary span.links a:hover {
 color: rgba(0, 0, 0, 0.9);
}

footer.primary hr {
 background-color: rgba(0, 0, 0, 0.7);
}

/* media queries */
@media screen and (max-width: 700px) {
	#homeContentWrapper article .heading {
	 font-size: 8px;
	}
	
	#homeContentWrapper article .ghostButton {
	 font-size: 8px;
	}
} 

@media screen and (max-width: 900px) {
	#homeContentWrapper article .heading {
	 font-size: 40px;
	}
	
	#homeContentWrapper article .ghostButton {
	 font-size: 16px;
	}
} 

@media screen and (max-width: 1200px) {
	.menuIcon {
	 margin-top: 5px;
	 display: block;
	 text-align: center;
	}

	.menuIcon div {
	 background-color: #000000;
	 width: 30px;
	 height: 3px;
	 margin-top: 5px;
	 display: block;
	 -webkit-transition: 0.3s;
	 -ms-transition: 0.3s;
	 -moz-transition: 0.3s;
	 -o-transition: 0.3s;
	 transition: 0.3s;
	}

	.menuIcon:hover .menuIconDiv, .menuIcon.active .menuIconDiv {
	 background-color: #000000;
	}
	
	header.primary h2.headingLeft {
	 display: none;
	}

	header.primary h2.headingRight {
	 display: inline-block;
	}

	header.primary nav {
	 margin-top: 10px;
	 float: left;
	}

	#navigationButtons {
	 background-color: #D32F2F;
	 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26), inset 0px 5px 5px rgba(0, 0, 0, 0.26);
	 width: 280px;
	 height: 10000px;
	 list-style: none;
	 padding: 60px 30px 10px 10px; 
	 overflow: hidden;
	 position: absolute;
	 top: -20px;
	 left: -500px;
	 z-index: -1;
	 -webkit-transition: 0.7s;
	 -ms-transition: 0.7s;
	 -moz-transition: 0.7s;
	 -o-transition: 0.7s;
	 transition: 0.7s;
	}

	#navigationButtons li a {
	 color: #FFFFFF;
	 opacity: 0.7;
	 margin-left: 10px;
	 padding: 15px;
	 display: block;
	 text-align: left;
	 font-size: 30px;
	 cursor: pointer;
	 -webkit-transition: color 0.3s ease-in-out 0s, opacity 1s;
	 -ms-transition: color 0.3s ease-in-out 0s, opacity 1s;
	 -moz-transition: color 0.3s ease-in-out 0s, opacity 1s;
	 -o-transition: color 0.3s ease-in-out 0s, opacity 1s;
	 transition: color 0.3s ease-in-out 0s, opacity 1s;
	}
}